__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
.idea
*.pyc
*.db
demos/bspline_testing.ipynb
demos/bernstein_polynomial_testing.ipynb
*Dockerfile_torch_gtm
*shell_push_backup_to_scratch_hydra.zsh
*shell_pull_scratch_to_backup_hydra.zsh
**/*copy*
bernstein_polynomials_michael.py
demos/demo_3D_jji_rvine.ipynb
